<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pepper Classifier</title>
</head>
<body>
    <h1>Pepper Classifier</h1>
    {% if prediction %}
        <h2>Result for {{ filename }}: {{ prediction }}</h2>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
